@import '../shared';

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: .8rem;
  h2 {
    margin-top: .9rem;
    font-size: 1.1rem;
    color: $primary-text-color;
    span {
      font-weight: $font-weight-thin;
      color: $accent;
      margin-left: .6rem;
    }
  }
}
