.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 1.2rem;
}

.bgTop {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: -700px -600px;
}
.bgBottom {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 90px 440px;
}

/* 
  ##Device = Desktops
  ##Screen = 1440px 
*/
@media (min-width: 1440px) {
  .App {
    align-items: center;
  }
  .bgTop {
    background-position: -280px -420px;
  }
  .bgBottom {
    background-position: 610px 540px;
  }
}