$primary-color: hsl(185, 75%, 39%);
$primary-text-color: hsl(229, 23%, 23%);
$secondary-color: hsl(227, 10%, 46%);

$white: #fff;

$accent: hsl(0, 0%, 59%);

$font-size-default: 18px;
$font-family: 'Kumbh Sans', sans-serif;
$font-weight-thin: 400;
$font-weight-bold: 700; 
