@import 'shared';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: $font-family;
  font-size: $font-size-default;
  background-color: $primary-color;
}

h3, h2 {
  font-weight: $font-weight-bold;
}
h5 {
  font-weight: $font-weight-thin;
}

.img-circle {
  border-radius: 50%;
  border: 5px solid $white;
}